*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    background-color: khaki;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav-bar{
    width: 100%;
    color: slateblue ;
    background-color:mistyrose;
}
.input-group{
    margin: 20px;
    padding: 20px;
    width: 40%;

}

.meal{
    border:2px solid grey;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 28%;
    height: 400px;
    margin: 20px;
    display: inline-block;
    

}
.meal img{
    width:100%;
}